<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<!-- Bootsrap CSS -->
<link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

<!-- Icon -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='ico/Mail.ico') }}">
